<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Node Chat</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme from http://bootswatch.com/ -->
	<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">

	<!-- Custom Theme changes -->
	<link rel="stylesheet" href="/css/main.css">

	<!-- jQuery needed -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>


<!-- Login input form - takes a name before initiating chat -->
<div class="container chat-name-section">
	<div class="row">
		<div class="col-lg-12">
			<form class="bs-component" id="chatNameForm">
			<div class="page-header">
				<h2>Welcome to Chat App</h2>
			</div>
			<div class="form-group">
				<label class="control-label" for="name">Please enter your name</label>

				<div class="input-group">
					<input type="text" class="form-control" name="name" id="name">
					<span class="input-group-btn"><button class="btn btn-success">Enter Chat</button></span>
				</div>

				<div class="input-group">
					<p><span class="text-danger">Username is already taken!</span></p>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>


<!-- Chat header area - contains 'Users Online' count and log of chat messages -->
<div class="chat-box-section">

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Chat App</h1>
			</div>
			<div class="col-lg-12">
				<div class="bs-component">
					<button class="btn btn-primary" data-toggle="modal" data-target="userslist" id="usersOnlineBtn">Users Online &nbsp;<span class="badge">0</span></button>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div id="user"><!--Hello {user}--></div>
					</div>
					<div class="panel-body" id="chatBox"></div>
				</div>
			</div>
		</div>
	</div>

</div>


<!-- Chat message textarea and 'Send' button -->
<div class="container">
	<div class="row chat-input-section">
		<form class="bs-component" id="chatInputForm">
		<div class="col-lg-8 col-md-8 col-sm-8">
			<textarea class="form-control" id="chatTextBox"></textarea>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<button type="submit" class="btn btn-success btn-lg btn-block" id="chatSendBtn">Send</button>
		</div>
		</form>
	</div>
</div>


<!-- Modal Popup for displaying users -->
<div class="modal fade bs-example-modal-sm" id="usersBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Users Online</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- For working with HTML5 audo files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/howler/1.1.17/howler.min.js"></script>

<!--- Automatically generated by Socket.io -->
<script src="/socket.io/socket.io.js"></script>

<!--- Application code -->
<script src="/js/chat.js"></script>
</body>
</html>